@charset "UTF-8";

 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, rgba(47, 35, 37, 1),
    rgba(142, 93, 82, 1));
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-img {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}   
.cabecalho-menu-item {
    font-family: "Sarala", sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #fff2e7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.botao {
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px ;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}

.botao:hover {
    background-color: #d8c3b2;
}

.conteudo-principal-img {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid rgba(255, 242, 231, 1);
    padding-top: 48px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.conteudo-secundario-p {
    font-family: "Sarala", sans-serif;
    font-weight: 280;
    font-size: 18px;
    color: #ecd6c4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;

}

.rodape-img {
    height: 48px;
    display: block;
margin: 0 auto;
}
